.container {
    background-color: rgb(25, 12, 27);
    border:1px solid black; 
    height: 100%;
}

.header {
    padding-top: 300px;
    text-align: center;
    color: aqua;
    padding-bottom: 400px;
}

.loginButton {
    color:black;
    background-color: orange;
}

