<div class="container bg">
    <div class="row header">
        <div class="col-sm-12 header">
            <h1>WELCOME TO DASHBOARD</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <a routerLink='/login' routerLinkActive="active"><button id="login" class="btn btn-success btn-lg float-right offset-xs-2">Existing User - > Login</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <a routerLink='/registration' routerLinkActive="active"><button id="register" class="btn btn-success btn-lg float-right offset-xs-2" >New User - > Register</button></a>
        </div>
    </div>
    <div class="gap-100"></div>
    <div class="row footer">
        <div class="col-sm-12">
            <p>© Copyright 2019. All rights reserved.</p>
            <p>Contact information: <a href="mailto:gowtham.7678@example.com">
                    gowtham.7678@example.com</a>.</p>
        </div>
    </div>
</div>